:root {
  --darkblue: #063e66;
  --lightblue: #c4cfde;
  --pink: #e2cddd;
}

div {
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: bold;
	color:var(--darkblue);
	text-align: center;
}
.surroundtop{
    border: 2px solid var(--darkblue);
    border-radius: 36px;
    height:226px;
}

.title-area {
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}

.titlerow{
	width:100vw;
	height:23.4px;
	background-color: var(--lightblue);
	float: left;
}

.titlerow-text{
    font-size: 13px;
    font-weight: bold;
	text-align: center;
    position: relative;
    top: 2px;
}

.table.column{
	float: left;
	width: 16vw;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}

.table.cell{
	position: relative;
	width: 16.6vw;
	left: -2px;
}

.backtextbox {
	height: 28.5px;
    position: relative;
    z-index: -1;
}

.backtextbox.pink{
	background-color: var(--pink);
}

.backtextbox.blue{
	background-color: var(--lightblue);
}

.backtext{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 4px;
}


.title{
	font-size: 39px;
	margin: auto;
  	font-weight: bold;
}
.subtitle{
	font-size: 24px;
	margin: auto;
}

.image{
	width = 25vw;
}

.img-hldr-2{
	position: absolute;
	top:-1vw;
	left:5.6vw;
}
.img-hldr-1{
	position: absolute;
	top:12.4vw;
	left:2.9vw;
}
.img-hldr-3{
	position: absolute;
	top: 3.3vw;
}

.middle-holder{
    width: 40.7vw;
    margin: auto;
    float: left;
    height: 36.6vw;
    margin: 0 .3vw 0 .3vw;
}

.calculator {
    display: flex;
}

.calculator-container{
	text-align: center;
	float: left;
}

.contact{
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
	width:26.5vw;
}

.quarter-holder{
	width:26.5vw;
    height: 36.6vw;
    float: left;
    margin: 0 .6vw 0 .6vw;
    display: flex;
    align-items: flex-end;
}

.rightside{
	float: left;
	width:35vw;
	flex-grow: 1;
}

.leftside{
	float: left;
	width:15vw;
	flex-grow: 1;
}

.calcdata{
	background: transparent;
    border: none;
    text-align: start;
	font-family: 'Poppins';
	font-size: 12px;
	color:var(--darkblue);
	margin-top: 2.5px;
	width: 12vw;
}
.calcdatacontainer{
	border: 2px solid var(--darkblue);
	border-radius: 36px;
	width: 13vw;
	height: 24.5px;
}