:root {
  --darkblue: #063e66;
  --lightblue: #c4cfde;
  --pink: #e2cddd;
  --mediumtextmobile:10pt;
  --extrabacktextsizemobile:0px;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color:var(--darkblue);
	text-align: center;
}

#image-one{
	width: calc(min(215px,95%))
}
#image-two{
	width: calc(min(173px,75%))
}
#image-three{
	width: calc(min(215px,95%))
}

.surroundtop{
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}

.title-area {
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
    height: 138px;
    margin: 12px 0 12px 0;
}
.title-area.mobile{
	height:200px;
}

.titlerow{
    font-size: 13pt;
	width:100%;
	height:23.4px;
	background-color: var(--lightblue);
	float: left;
}

.titlerow.mobile{
	height: calc(23.4px + var(--extrabacktextsizemobile));
	font-size: var(--mediumtextmobile);
}

.titlerow-text{
    font-weight: bold;
	text-align: center;
    position: relative;
    top: 2px;
}

.table.column{
	float: left;
	width: calc(98%/6 - 4px);
	margin: 0 calc(1%/6) 0 calc(1%/6);
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}
.table.column.mobile{
	width: calc(98%/3 - 4px);
	margin: 0 calc(1%/3) 0 calc(1%/3);
}

.table.cell{
	position: relative;
	width: calc(102% + 4px);
	left: -4px;
}

.backtextbox {
	height: 28.5px;
    position: relative;
    z-index: -1;
}

.backtextbox.mobile{
	height: calc(28.5px + var(--extrabacktextsizemobile));
}


.backtextbox.pink{
	background-color: var(--pink);
}

.backtextbox.blue{
	background-color: var(--lightblue);
}

.backtextbox.fivesixths{
	font-style: italic;
	width: calc(500%/6);
	text-align: right;
	float: left;
}
.backtextbox.onesixth{
	width: calc(100%/6);
	float: left;
}
.backtextbox.fivesixths.mobile{
	width: calc(200%/3);
}
.backtextbox.onesixth.mobile{
	width: calc(100%/3);
}

.backtext{
    font-weight: bold;
    position: relative;
    top: 4px;
}
.backtext.mobile{
	font-size:var(--mediumtextmobile);
}


.backtext.italic{
	font-style: italic;
}

.summaryrow{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}


.title{
	font-size: 39pt;
	width: 100%;
	float: left;
  	font-weight: bold;
  	height: 62px;
}
.title.mobile{
	font-size:36pt;
}

.subtitle{
	font-size: 18pt;
	font-weight: normal;
	float: left;
	width: 100%;
}
.subtitle.mobile{
	font-size: 24pt;
}

.image{
	width = 25vw;
}

.img-hldr-2{
	position: absolute;
	top:calc(min(1vw,7px)*20);
	width: 25%;
}
.img-hldr-1{
	position: absolute;
	top:calc(min(1vw,7.6px)*6);
	width: 25%;
}
.img-hldr-3{
	position: absolute;
	top:calc(min(1vw,7.6px)*9);
	width: 25%;
}
.img-hldr-4{
	width: 50%;
	float: left;
}

.middle-holder{
    width: 50%;
    margin: auto;
    float: left;
    height: 100%;
}
.middle-holder.mobile{
	width:100%;
}

.quarter-holder{
    width: 25%;
    margin: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-end;
}
.quarter-holder.mobile{
	display:none;
}

.calculator {
    display: flex;
    float: left;
    width: 100%;
}

.calculator-container{
	text-align: center;
	height: 381px;
}
.calculator-container.mobile{
	height: 450px;
}

.contact{
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
	width:calc(96% - 4px);
	margin: 0 2% 0 2%;
	font-size: 7pt;
	position: relative;
	bottom: 20px;
}

.contact.blue{
	background-color: var(--lightblue);
}

.rightside{
	float: left;
	width:70%;
	flex-grow: 1;
}

.leftside{
	float: left;
	width:30%;
	flex-grow: 1;
}

.calcdata{
	background: transparent;
    border: none;
    text-align: start;
	font-family: 'Poppins';
	color:var(--darkblue);
	width:75%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 10pt;
}

.calcdata.mobile{
	font-size: var(--mediumtextmobile);
}

.calcdata.shortleft{
	margin-left: 0%;
	float: left;
}
.calcdata.shortright{
	margin-right: 0%;
	width: 68%;
	float: left;
}

.pindata{
    float: left;
    margin-top: 3px;
    width: 10%;
}

.calcdatacontainer{
	border: 2px solid var(--darkblue);
	border-radius: 36px;
	width: 100%;
	height: 24.5px;
	font-size: 10pt;
}
.calcdatacontainer.mobile{
	font-size: var(--mediumtextmobile);
	height: calc(24.5px + var(--extrabacktextsizemobile));
}


.mobileonly{
	display: none;
}
.mobileonly.mobile{
	display:flex;
	flex-direction: column;
	height: 600px;
}
.mobile-contact-holder{
	width: 100%;
}
.contact.mobile{
	font-size: var(--mediumtextmobile);
}
.image-centerer{
	width: 70%;
	margin: 0 15% 0 15%;
}

.table-holder{
	width: 100%;
	height: 650px;
}
.table-holder.mobile{
	height: 1065px;
}

#full-app-container{
	height: 1031px;
}
#full-app-container.mobile{
	height: 2115px;
}