:root {
  --darkblue: #063e66;
  --lightblue: #c4cfde;
  --pink: #e2cddd;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color:var(--darkblue);
	text-align: center;
}

#image-one{
	width: calc(min(215px,95%))
}
#image-two{
	width: calc(min(173px,75%))
}
#image-three{
	width: calc(min(215px,95%))
}

.surroundtop{
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}

.title-area {
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
    height: 108px;
    margin: 12px 0 12px 0;
}

.titlerow{
	width:100%;
	height:23.4px;
	background-color: var(--lightblue);
	float: left;
}

.titlerow-text{
    font-size: 13pt;
    font-weight: bold;
	text-align: center;
    position: relative;
    top: 2px;
}

.table.column{
	float: left;
	width: calc(98%/6 - 4px);
	margin: 0 calc(1%/6) 0 calc(1%/6);
    border: 2px solid var(--darkblue);
    border-radius: 36px;
}

.table.cell{
	position: relative;
	width: calc(102% + 4px);
	left: -4px;
}

.backtextbox {
	height: 28.5px;
    position: relative;
    z-index: -1;
}

.backtextbox.pink{
	background-color: var(--pink);
}

.backtextbox.blue{
	background-color: var(--lightblue);
}

.backtext{
    font-weight: bold;
    position: relative;
    top: 4px;
}


.title{
	font-size: 26pt;
	margin: auto;
  	font-weight: bold;
  	height: 62px;
}
.subtitle{
	font-size: 18pt;
	font-weight: normal;
	margin: auto;
}

.image{
	width = 25vw;
}

.img-hldr-2{
	position: absolute;
	top:calc(max(-1vw,-7.6px));
	width: 25%;
}
.img-hldr-1{
	position: absolute;
	top:calc(min(1vw,7.6px)*18);
	width: 25%;
}
.img-hldr-3{
	position: absolute;
	top:calc(min(1vw,7.6px)*3.3);
	width: 25%;
}

.middle-holder{
    width: 50%;
    margin: auto;
    float: left;
    height: 100%;
}

.quarter-holder{
    width: 25%;
    margin: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-end;
}

.calculator {
    display: flex;
}

.calculator-container{
	text-align: center;
	height: 351px;
}

.contact{
    text-align: center;
    border: 2px solid var(--darkblue);
    border-radius: 36px;
	width:calc(96% - 4px);
	margin: 0 2% 0 2%;
	font-size: 7pt;
}

.contact.blue{
	background-color: var(--lightblue);
}

.rightside{
	float: left;
	width:35vw;
	flex-grow: 1;
}

.leftside{
	float: left;
	width:15vw;
	flex-grow: 1;
}

.calcdata{
	background: transparent;
    border: none;
    text-align: start;
	font-family: 'Poppins';
	color:var(--darkblue);
	margin-top: 2.5px;
}
.calcdatacontainer{
	border: 2px solid var(--darkblue);
	border-radius: 36px;
	width: 13vw;
	height: 24.5px;
}